body {
	background: #141414;
	color: #ffffff;
}

.tiles {
        padding: 3rem 5%;
        color: white;
    

    &_descript {
        font-size: 1.6rem;
    }
    &_images {
      position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        padding: .2rem 0;
        .tiles_image {
            width: 310px;
            padding: 0 .2rem;
            transition: transform 0.3s ease-in;
            &:hover {
                cursor: pointer;
                transform: scale(1.07);
            }
        }
    }

    ::-webkit-scrollbar {
        display:none;
        -webkit-appearance: none;
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: black;
        border: 8px;
        
    }
}
.wrapper {
    position: relative;

    .sliderChevron, .sliderChevron {
      width: 30px;
      height: 90%;
      background-color: rgba(34, 26, 26, 0.6);
      color: white;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      align-items: center;
      padding: 8px;
      
         
      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
    .tiles_images {
      overflow-x: auto;
      flex-wrap: nowrap;
    }
  }

  .heart{
    
    top:0;
    padding: 0px;
    z-index: 3;
    position: absolute;
    margin: 2% 1%;
    color: red;
    height: 12%;
    width: 2%;
    :hover{
      cursor: cell;
    }
  }

  .regHeart{
    top:0;
    padding: 0;
    position: absolute;
    margin: 2% 1% 5% 3%;
    height: 12%;
    z-index: 3;
    width: 2%;
    color: white;
  }
  
  