.tiles {
        padding: 2rem 5%;
        color: white;
    

    &_descript {
        font-size: 1.6rem;
    }
    &_images {
        display: flex;
        align-items: center;
        overflow-x: visible;
        overflow-y: hidden;
        width: 100%;
        padding: .6rem 0;
        .tiles_images {
            width: 310px;
            padding: 0.2rem;
            transition: transform 0.4s ease-in;
            &:hover {
                cursor: pointer;
                transform: scale(0.9);
            }
        }
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: black;
        border: 10px;
        
    }
}
.wrapper {
    position: relative;

    .sliderChevron, .sliderChevron {
      width: 50px;
      height: 100%;
      background-color: rgb(22, 22, 22, 0.5);
      color: white;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
    .container {
      margin-left: 50px;
      display: flex;
      margin-top: 10px;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }
  }